.contacts{
  color: black;
  margin-top: 10rem;
}
.celular-title{
  font-weight: bold;
  margin-top: 2rem ;
  font-size: 1.5rem;
}
.celular-texto{
  margin-top: 1rem ;
  font-size: 1.5rem;
}
.contacto-hosteria-otros{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.texto-otros-contacto-hosteria{
  margin-top: 2.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
.contacto-logos{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: 1rem 0 2rem;
}

.contacto-logos a{
  width: 3rem;
  height: 3rem;
  margin: 0 .5rem;
  background-color: black;
  color: white;
  padding: .5rem;
}
.contacto-logos a:hover{
  background-color: #EC1B24;

}

.contacto-logos a svg{
  height: 100%;
  width: 100%;
}
.contacto-logos a:hover svg path{
  fill: white;
}


.contacto-logos a:hover path{
    fill: #EC1B24;
  }

  .icon-container >.open-icon{
    width: 2.5rem;
    margin-right: .5rem;
  }
@media (min-width: 420px){

}
@media screen and (min-width: 750px){


}

@media (min-width: 1000px){



}
