                                  /* Phone sm */
.carousel-restaurant-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-restaurant-image{
  height: 100%;
  opacity: 0;
  transition: 1s;
  user-select: none;
}
.loaded{
  opacity: 1;
}
@media (min-width: 768px){ /* Tablets md */
  .carousel-restaurant-container{
    width: 100%;
    height: 40rem;
  }
}
@media (min-width: 992px){  /* Laptops lg */
  .carousel-restaurant-container{
    width: 100%;
    height: 40rem
  }
  .carousel-restaurant-image{
    width: 100%;
    height: 40rem;
  }

}
@media (min-width: 1200px){ /* Big screens xl */

}
