video{
  height: 100vh;
}
.title-container{
  width: 100%;
  background-image: url(../../img/fondo2.jpg);
}

.title{
  color: var(--white);
  font-family: "Almendra", serif;
  font-size: 1.5rem;
}

.services-container{
  background-color: var(--black);
  color: var(--white);
}
.services{
  font-size: 1.5rem;
}


@media (min-width: 768px){ /* Tablets md */
  .title{
    font-size: 2rem;
  }
  .section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services-container{
    display: flex;
    align-items: center;
  }
}
@media (min-width: 992px){  /* Laptops lg */
  .title{
    font-size: 3rem;
  }
  .services{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px){ /* Big screens xl */

}
