.footer{
  padding: 1rem 3rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  background-color: black;
  color: white;
  font-size: .8rem;
}
h4{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
h4 a{
  font-weight: bold;
  margin-left: .5rem;
}
h4 a:hover{
  color: #EC1B24;
}
svg:hover path{
  fill: #EC1B24;
}
@media (min-width: 420px){
  .footer{
    height: 6rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 750px){
  .footer{
    height: 3rem;
    font-size: .8rem;
  }
}

@media (min-width: 1000px){
  .footer{
    height: 4rem;
    font-size: 1rem;
  }
}
